{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es5",
    "loose": true,
    "minify": {
      "mangle": true,
      "compress": true,
      "format": {
        "comments": "some"
      }
    }
  },
  "minify": true
}
